urlset {
  display: block;
  margin: 0;
  padding: 0;
  list-style: upper-alpha;
  list-style-position: inside;
  list-style-type: none;
}

url {
  color: #000000;
  text-decoration: none;
}

loc {
  color: #313131;
  text-decoration: none;
}
